[user]
	name = Terence O'Donoghue
	email = 1697905+terenceodonoghue@users.noreply.github.com
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
[push]
	default = simple
	followTags = true
